---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Setting up site."
	pubDate={new Date("November 03 2025")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Hello, climbers.</p>
</Layout>
