---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧗 Hello, Climber!</h1>
      <p>
        Future home for Happy Trails Climbing.
      </p>
      <p>
        Email at <a href="mailto:mike@happytrailsclimbing.com">mike@happytrailsclimbing.com</a>
      </p>
		</main>
		<Footer />
	</body>
</html>
